.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__services {
  width: 60%;
}

.content__info {
  padding: 0 8px;
  width: 35%;
  font-size: 22px;
}

.content__header {
  font-size: 28px;
  background: gainsboro;
  padding: 16px 0;
}

.content__list {
  list-style: none;
}

.content__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 6px 2px -4px rgba(0, 0, 0, .2);
}

.content__list__item_disabled {
  border: 2px solid lightcoral;
  pointer-events: none;
  opacity: 0.4;
}

.content__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content__field__code {
  color: darkgrey;
  margin-right: 8px;
}

.content__field__price {
  font-weight: bold;
  margin-right: 8px;
}

.content__field__icon {
  cursor: pointer;
}

.content__count {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
}

.content__count__text {
  margin-bottom: 16px;
}

.button {
  border: 1px solid gainsboro;
  height: 50px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  color: grey;
  padding: 8px;
}

.content__count__button {
  margin-top: 16px;
}
