<div class="order">
  <div class="content content__services">
    <div class="content__header">
      <p>Услуги в заказе</p>
    </div>
    <ul class="content__list">
      <li class="content__list__item" *ngFor="let nomenclature of nomenclatures; let i = index"
          [class.content__list__item_disabled]="nomenclature.status === 'Unavailable'">
        <div class="content__field">
          <span class="content__field__code">{{nomenclature.code}}</span>
          <span>{{nomenclature.name}}</span>
        </div>
        <div class="content__field">
          <span class="content__field__price">{{nomenclature.price.toFixed(2)}} &#8381;</span>
          <i class="material-icons md-dark content__field__icon"
             [class.md-inactive]="nomenclature.status === 'Unavailable'"
             (click)="delete(i)">
            close
          </i>
        </div>
      </li>
    </ul>
  </div>
  <div class="content content__info">
    <div class="content__header">
      <p>Информация о заказе</p>
    </div>
    <div class="content__count">
      <p class="content__count__text">Всего услуг: {{nomenclatures.length}}</p>
      <p class="content__count__text">Сумма заказа: {{getSum()}}</p>
      <button class="button content__count__button" (click)="recalculate()">Пересчитать стоимость услуг</button>
    </div>
  </div>
</div>
